# Dependency directories
node_modules/
jspm_packages/

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

/task-manager/avatars
/task-manager/images